.foodMenu {
  padding: 1rem;
  background-color: rgba(0, 0, 0, 0.459);
  border-radius: 20px;
  margin-bottom: 0.2%;
}

h1 {
  text-align: center;
}

.menu-category{
  text-align: center;
  margin: 0;
  font-size: 5rem;
  color: white;
}

.foodContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding:0;
}

.foodItem {
  display: flex; 
  width: 400px;
  margin: 0.8rem;
  border-radius: 10px;  
}

.foodItemContainer {
  background-color: rgb(189, 189, 189);
  margin-bottom: 2vh;
  width: 100%;
  box-shadow: 0 6px 20px rgba(56, 125, 255, 0.17);
  -webkit-filter: drop-shadow(0 6px 20px rgba(56, 125, 255, 0.017));
  filter: drop-shadow(0 6px 20px rgba(56, 125, 255, 0.017));
  border-radius: 10px;
  overflow: hidden;
  text-decoration: none;
}

.games__item__pic-wrap {
  position: relative;
  width: 100%;
  padding-top: 67%;
  margin-left: 0;
  overflow: hidden;
}

.fade-img {
  animation-name: fade-img;
  animation-duration: 2s;
}

.games__item__pic-wrap::after {
  content: attr(price);
  position: absolute;
  bottom: 0;
  margin-left: 10px;
  padding: 6px 8px;
  max-width: calc((100%) - 60px);
  font-size: 22px;
  font-weight: 700;
  color: #fff;
  background-color: #1f98f4;
  box-sizing: border-box;
}

.food-item-img {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: block;
  width: 100%;
  max-width: 100%;
  height: 100%;
  max-height: 100%;
  object-fit: cover;
  transition: all 0.2s linear;
}

.food-item-img:hover {
  transform: scale(1.1);
}

.food-item-info {
  padding: 1% 2% 2%;
  text-align: center;
}

.food-item-name {
  color: #000000;
  font-size: 2rem;
  text-align: center;
  margin-bottom: 3%;
  margin-top: 0;
}

.add-cart{
  color: white;
  padding: 2%;
  font-size: 1.7rem;
  height: 100%;
  border-radius: 10px;
  background: linear-gradient(
        90deg,
        rgb(245, 52, 229) 0%,
        rgb(99, 89, 247) 100%
    );
}

.count-container{
  height:60px;
}

.count{
  font-size: 1.3rem;
  width: 9%;
  border-radius: 5px;
}

.count-val{
  margin: 3%;
  font-size: 1.4rem;
  padding: 1%;
  width: 20%;
  text-align: center;
}

.pos{
  background-color: rgb(74, 179, 74);
}

.neg{
  background-color: rgb(207, 89, 89);
}

@media only screen and (min-width: 1200px) {
  .content__blog__container {
    width: 84%;
  }
}

@media only screen and (min-width: 1024px) {
  .foodContainer {
    display: flex;
  }
}

@media only screen and (max-width: 1024px) {
  .foodContainer {
    margin-bottom: 2rem;
  }
  .foodItem {
    width: 100%;
  }
}