.foodMenu {
  padding: 1rem;
  background: rgba(131, 131, 190, 0.404);
  border-radius: 20px;
}

h1 {
  text-align: center;
}

.menu-category{
  text-align: center;
  margin-bottom: 0;
}

.foodContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.foodItem {
  display: flex; 
  width: 400px;
  margin: 0 1rem;
  border-radius: 10px;
  
}

.foodItemContainer {
  background-color: rgb(173, 173, 173);
  margin-bottom: 2vh;
  width: 100%;
  box-shadow: 0 6px 20px rgba(56, 125, 255, 0.17);
  -webkit-filter: drop-shadow(0 6px 20px rgba(56, 125, 255, 0.017));
  filter: drop-shadow(0 6px 20px rgba(56, 125, 255, 0.017));
  border-radius: 10px;
  overflow: hidden;
  text-decoration: none;
}

.games__item__pic-wrap {
  position: relative;
  width: 100%;
  padding-top: 67%;
  margin-left: 0;
  overflow: hidden;
}

.fade-img {
  animation-name: fade-img;
  animation-duration: 2s;
}

.games__item__pic-wrap::after {
  content: attr(price);
  position: absolute;
  bottom: 0;
  margin-left: 10px;
  padding: 6px 8px;
  max-width: calc((100%) - 60px);
  font-size: 22px;
  font-weight: 700;
  color: #fff;
  background-color: #1f98f4;
  box-sizing: border-box;
}

.games__item__img {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: block;
  width: 100%;
  max-width: 100%;
  height: 100%;
  max-height: 100%;
  object-fit: cover;
  transition: all 0.2s linear;
}

.games__item__img:hover {
  transform: scale(1.1);
}

.games__item__info {
  padding: 20px 30px 30px;
  text-align: center;
}

.games__item__text {
  color: #252e48;
  font-size: 20px;
  line-height: 24px;
  text-align: center;
}

@media only screen and (min-width: 1200px) {
  .content__blog__container {
    width: 84%;
  }
}

@media only screen and (min-width: 1024px) {
  .foodContainer {
    display: flex;
  }
}

@media only screen and (max-width: 1024px) {
  .foodContainer {
    margin-bottom: 2rem;
  }
  .foodItem {
    width: 100%;
  }
}