.cart-footer{   
    padding: 0.2rem;
    background-color: rgb(231, 195, 77);
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    z-index: 1;
  }

  .checkout-btn:hover{
    background-color: rgb(91, 214, 91);
  }

  .checkout-btn{
      position: relative;
      left:80%;
      width: 10%;
      border: none;
      outline: 0;
      background-color:aliceblue;
      text-align: center;
      cursor: pointer;
      font-weight: bold;      
  }

  .price {
      font-size: large;
      font-weight: bold;
      color:black;
      margin-left: 2%;
  }

  @media only screen and (max-width: 1800px) {
    .checkout-btn{
        left: 70%;
        width: 15%;
    }
  }

  @media only screen and (max-width: 1400px) {
    .checkout-btn{
        left: 63%;
        width: 17%;
    }
  }

  @media only screen and (max-width: 1024px) {
    .checkout-btn{
        left: 60%;
        width: 20%;
    }
  }